html.not<li>nited{visibility: hidden;}
.siteWrapper{
  margin-left: auto;
  margin-right: auto;
  max-width: 1040px;
}
/**siteTopbar**/
.siteTopbar{
  background: #111;
  transition: all .5s;
  animation-duration: 4s;
  transform: translateY(0%);
}
.siteTopbar.hide{
  transform: translateY(-100%);
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 92px;
}
.siteTopbar .logo{
  width: 62px;
  height: 92px;
}
.siteTopbar .menu{
	display: flex;
}
.siteTopbar .menu>li{
  margin: 0 18px;
}
.siteTopbar .menu>li a{color: #fff;}
.siteTopbar .menu>li a.selected,
.siteTopbar .menu>li a:hover{opacity: 0.3;}
.siteTopbar .medialist{
	display: flex;
}
.siteTopbar .medialist>li{
  margin: 0 18px;
  width: 32px;
  height: 32px;
}
@media (max-width: 1024px){
	nav{
		padding: 0 5%;
	}
	.siteTopbar .medialist{
		display: none;
	}
}

/**siteSummary**/
.summary{
	padding-top: 55px;
	padding-bottom: 55px;
}
.summary .aboutme{
	border-bottom: 1px solid #ddd;
}
.summary .picture{
	float: right;
	width: 590px;
	height: 440px;
}
.summary .introduction{
	float: left;
	width: 410px;
}
.summary .introduction h1{
	font-size: 70px;
	font-weight: bold;
	letter-spacing: -0.07em;
}
.summary .introduction p{
	font-size: 26px;
	margin-top: 15px;
	margin-bottom: 15px;
	color: #666;
}
.summary .introduction p>small{
	font-size: 16px;
}
.summary .photolist{
	margin: 18px -14px;
}
.summary .photolist>li{
	float: left;
	max-width: 150px;
	height: 85px;
	padding: 5px;
	margin-left: 14px;
	margin-right: 14px;
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,.4);
	transform: translateY(0%);
	transition: all 1s;
}
.summary .photolist.hide>li{
	transform: translateY(200%);
}
.summary .photolist>li:nth-child(1){
	transition-delay: 0.2s; 
}
.summary .photolist>li:nth-child(2){
	transition-delay: 0.4s; 
}
.summary .photolist>li:nth-child(3){
	transition-delay: 0.6s; 
}
.summary .photolist>li:nth-child(4){
	transition-delay: 0.8s; 
}
.summary .photolist>li:nth-child(5){
	transition-delay: 1s; 
}
@media (max-width: 668px){
	.summary{padding: 40px 5%;}
	.summary .picture{
		float: none;
		margin-top: 36px;
		width: 100%;
		text-align: center !important;	
	}
	.summary .photolist{
		border-top: 1px solid #ddd;
		padding-top: 54px; 
		max-width: 490px;
		margin: 0 auto;
	}
}
@media (max-width: 1040px) and (min-width: 668px){
	.summary{padding: 81px 5%;}
	.summary .aboutme{
		border: none;
	}
	.summary .photolist{
		border-top: 1px solid #ddd;
		padding-top: 54px; 
		max-width: 540px;
		margin: 0 auto;
	}
	.summary .introduction{
		float: none;
		width: 100%;
		margin-right: 0;
		padding-bottom: 30px;
	}
	.summary .picture{
		float: none;
		width: 100%;
		text-align: center !important;	
	}
	.summary .photolist{
		border-top: 1px solid #ddd;
		padding-top: 54px; 
		max-width: 540px;
		margin: 0 auto;
	}
	.summary .photolist>li{
		width: 150px;
	    padding: 5px;
	    margin-right: 43px;
	    margin-bottom: 18px;
	    margin-left: 0;
	}
	.summary .photolist>li:nth-child(3),
	.summary .photolist>li:nth-child(6){
		margin-right: 0;
	}
}
@media (max-width: 668px) and (min-width: 376px){
	.summary .photolist>li{
		margin-right: 10px;
		margin-bottom: 18px;
	}
}
/**siteSkill**/
.siteSkill{
	padding-top: 100px;
	padding-bottom: 100px;
	box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,.1);
	border-bottom: 1px solid #ddd;
	background: #fafafa;
}
.siteSkill .skills{position: relative;}
.siteSkill h2{
	font-weight: normal;
	font-size: 28px;
	margin-bottom: 5px;
	line-height: 1.8;
}
.siteSkill .designer{
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
}
.siteSkill .coder{
	position: absolute;
	top: 0;
	right: 0;
	width: 200px;
}
.siteSkill .list>li{
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 10px;
}
.siteSkill .chart{
	margin-left: 200px;
	margin-right: 200px;
	text-align: center;
}
/**siteHobby**/
.siteHobby{
	padding-top: 100px;
	border-bottom: 1px solid #ddd;
	box-shadow: inset 0px 30px 30px -30px rgba(0,0,0,.05)
}
.siteHobby .things{
	float: right;
	padding-top: 36px;
	padding-left: 40px;
	width: 410px;
}
.siteHobby .super{
	float: right;
}
.siteHobby h2{
	font-weight: normal;
	font-size: 28px;
	margin-bottom: 5px;
	line-height: 1.8;
}
.siteHobby .list>li{
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 10px;
}
/**skillsFigure**/
.skillsFigure{
	background: #fafafa;
	padding-top: 100px; 
	box-shadow: inset 0 1px 3px 0 rgba(0,0,0,.1);
	border-bottom: 1px solid #ddd;
}
.skillsFigure .figure{
	position: relative;
}
.skillsFigure .figure h2{
	text-align: right;
}
.skillsFigure .figure .row{
	border-top: 1px dotted #ddd;
	border-left: 1px solid #ddd;
	height: 110px;
	margin-left: 70px;
	position: relative;
}
.skillsFigure .figure .level{
	position: absolute;
	left: -95px;
    top: -12px;
    width: 70px;
    text-align: right;
}
.skillsFigure .figure .rectangularBar{
	position: absolute;
	left: 70px;
	bottom: 0;
	font-size: 0;
}
.skillsFigure .figure .rectangularBar>.bar{
	display: inline-block;
	vertical-align: bottom;
	margin-left: 20px;
	width: 166px;
	border: 1px solid #bbb;
	text-align: center;
	font-size: 16px;
	color: #fff;
	position: relative;
}
.skillsFigure .figure .rectangularBar>.bar>.precent{
	position: absolute;
	width: 100%;
	bottom: 50px;
	font-size: 60px;
	opacity: 0.3;
}
.skillsFigure .figure .rectangularBar>.bar>.precent>small{
	font-size: 24px;
	padding-left: 3px;
}
.skillsFigure .figure .rectangularBar>.bar>.know{
	position: absolute;
	width: 100%;
	bottom: 20px;	
}
.skillsFigure .figure .rectangularBar>.bar:nth-child(1){
	height: 420px;
	background-color: #8dc5be;;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #5fb2a8), color-stop(1, #b0dbd6));
}
.skillsFigure .figure .rectangularBar>.bar:nth-child(2){
	height: 407px;
	border-color: #ebc0b5;
    background-color: #f4dcd6;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e1ae9e), color-stop(1, #f4dcd6));
}
.skillsFigure .figure .rectangularBar>.bar:nth-child(3){
	height: 420px;
	border-color: #e7af30;
    background-color: #efc563;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dfae36), color-stop(1, #efc563));
}
.skillsFigure .figure .rectangularBar>.bar:nth-child(4){
	height: 339px;
	border-color: #dcb386;
    background-color: #dcba83;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #bc8e5b), color-stop(1, #dcba83));
}
.skillsFigure .figure .rectangularBar>.bar:nth-child(5){
	height: 182px;
	border-color: #e14949;
    background-color: #da6d6c;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ca4544), color-stop(1, #da6d6c));
}
/**siteFeature**/
.siteFeature{
	padding-top: 100px;
	padding-bottom: 100px;
	border-bottom: 1px solid #ddd;
	box-shadow: inset 0px 30px 30px -30px rgba(0,0,0,.05);
}
.siteFeature .major{
	float: right;
	width: 590px;
	height: 315px;
}
.siteFeature .feature{
	margin-right: 610px;
	transform: translateX(0%);
    transition: all 0.5s;
}
.siteFeature .feature h2{
	font-weight: normal;
	font-size: 28px;
	margin-bottom: 5px;
	line-height: 1.8;
}
.siteFeature .feature p{
	font-size: 18px;
	line-height: 30px;
	margin-bottom: 20px;
}
/**footer**/
footer{
	background: #f5f5f5;
	padding-top: 30px;
	padding-bottom: 20px;
	box-shadow: inset 0 1px 3px 0 rgba(0,0,0,.1);
	position: relative;
}
footer .button{
	position: absolute;
    width: 100%;
    height: 50px;
    top: -50px;
    left: 0px;
}
footer #gotop{
    background: url(http://www.adhamdannaway.com/wp-content/themes/ad/images/sprite.png) 0 -217px no-repeat;
    width: 118px;
    height: 90px;
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -59px;
    transition: all 0.3s;
}
footer #gotop:hover{
	transform: translateY(-5px);
}
footer .button>a{
	color: #fff;
}
footer a{
	color: #666;
}
footer a:hover{
	color: #333;
}
footer .menu{
	display: inline-block;
	text-align: center;
	margin-left: 120px;
	margin-right: 80px;
	font-size: 16px;
    z-index: 2;
    position: relative;
}
footer .menu>a{
	padding-left: 8px;
	padding-right: 8px;
}
footer .mediaLinks{
	display: inline-block;
	font-size: 12px;	
}
footer .mediaLinks #zan{
	display: inline-block;
	padding: 3px 4px;
	color: #fff;
	background: linear-gradient(#4c69ba, #3b55a0);
	border-radius: 2px;
}
footer .mediaLinks .iconfont{
	background: #fff;
	color: #354c8c;
	font-size: 12px;
	margin-right: 6px;
}
footer .mediaLinks .ret:after{
	width: 4px;
    height: 4px;
    border: 1px solid transparent;
    border-top-color: #bbb;
    border-right-color: #bbb;
    background-color: #fff;
    transform: rotate(225deg);
    position: absolute;
    content: '';
    top: 7px;
    left: -3px;
}
footer .mediaLinks .ret{
	display: inline-block;
	padding: 2px 4px;
	border: 1px solid #bbb;
	background: #fff;
	position: relative;
	margin-left: 4px;
	font-size: 'Helvetica Neue',Arial,sans-serif;
}
footer .mediaLinks #social{
	color: #fff;
	padding: 4px;
	margin-left: 6px;
	border-radius: 2px;
	background: #1b95e0;
}
footer .mediaLinks #social span{
	padding-left: 4px;
}
